[submodule "deps/phaser"]
	path = deps/phaser
	url = https://github.com/photonstorm/phaser
[submodule "deps/planetcute.png"]
	path = deps/planetcute.png
	url = https://github.com/nfirvine/planetcute.png.git
[submodule "deps/kallaspriit-gamepadjs"]
	path = deps/kallaspriit-gamepadjs
	url = https://github.com/kallaspriit/HTML5-JavaScript-Gamepad-Controller-Library
